---
---

$gold: #ffd743;
$lilac: #d773A2;
$blue_green: #07bb9c;
$lavender: #a06ab4;

body {
     display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #252526;
    font-family: Hack, Helvetica, sans-serif;
    color: #d5dce5;
    margin: 0; /* Remove default body margins */
    // width: 100%;
    // max-width: 100%;

    .logo {
        display: flex;
        justify-content: center;
        margin: 30px 0;
        height: 200px;
    }

    .container {
        display: flex;
        flex-direction: column;
        // height: 100%;
        align-content: center;
        // justify-content: space-between;
        margin-bottom: 50px;
        // width: 75vw;
        max-width: 800px;
    }

    @media screen and (max-width: 1000px) {
        max-width: 600px;
        width: 600px;
    }

    @media screen and (max-width: 1000px) {
        max-width: 450px;
        width: 450px;
    }

    .content {
        p, ul:not(.nested) {
            margin-left: 30px;
        }
    }

    .bold {
        font-weight: bold;
    }

    h2 {
        margin-top: 35px;
        margin-bottom: 15px;
    }

    ul>li {
        list-style: "- "
    }

    ul.nested>li {
        list-style: initial;
    }

    .row {
        padding-left: 15px;
    }

    .large {
        font-size: 50px;
    }

    .company {
        color: $blue_green;
        font-weight: bold;
    }

    .position {
        color: $gold;
        font-weight: bold;
    }

    .start {
        color: $lilac;
        font-weight: bold;
    }

    .end {
        color: $lavender;
        font-weight: bold;
    }

    .icon {
        font-size: 15px;
    }

    .icons {
        display: flex;
        gap: 5px;
        margin-bottom: 50px;
    }

    .footnotes {
        font-size: 11px;
        display: flex;
        justify-content: center;
    }
}