---
---

$gold: #ffd743;
$lilac: #d773A2;
$blue_green: #07bb9c;
$lavender: #a06ab4;

body {
    background-color: #252526;
    font-family: Hack, Helvetica, sans-serif;
    color: #d5dce5;

    .logo {
        display: flex;
        justify-content: center;
        margin: 30px 0;
        height: 200px;
    }

    .container {
        width: 800px;
        margin-right: auto;
        margin-left: auto;
    }

    @media (min-width: 576px) {
        .container {
            max-width: 540px;
        }
    }
    
    @media (min-width: 768px) {
        .container {
            max-width: 720px;
        }
    }
      

    // .content-container {
    //     display: flex;
    //     flex-direction: column;
    //     align-items: center;
    //     justify-content: center;
    //     width: 100%;
    //     max-width: 800px;
    //     margin-left: auto;
    //     margin-right: auto;
    //     @media screen and (min-width: 1000px) {
    //         margin-left: 50px;
    //         margin-right: 50px;
    //     }
    //     @media screen and (max-width: 1000px) {
    //         margin-left: 20px;
    //         margin-right: 20px;
    //     }
    //     @media screen and (max-width: 600px) {
    //         margin-left: 10px;
    //         margin-right: 10px;
    //     }
    // }

    // .content-container {

    //     display: flex;
    //     flex-direction: column;
    //     align-content: center;
    //     justify-content: space-between;
    //     height: 100%;
    //     @media screen and (min-width: 1000px) {
    //     margin-bottom: 50px;
    //         width: 75vw;
    //     max-width: 800px;

    //     }
    // }

    // @media screen and (max-width: 1000px) {
    //     max-width: 600px;
    //     width: 600px;
    // }

    // @media screen and (max-width: 800px) {
    //     max-width: 450px;
    //     width: 450px;
    // }

    p, ul:not(.nested) {
        margin-left: 30px;
    }

    .bold {
        font-weight: bold;
    }

    h2 {
        margin-top: 35px;
        margin-bottom: 15px;
    }

    ul>li {
        list-style: "- "
    }

    ul.nested>li {
        list-style: initial;
    }

    .row {
        padding-left: 15px;
    }

    .large {
        font-size: 50px;
    }

    .company {
        color: $blue_green;
        font-weight: bold;
    }

    .position {
        color: $gold;
        font-weight: bold;
    }

    .start {
        color: $lilac;
        font-weight: bold;
    }

    .end {
        color: $lavender;
        font-weight: bold;
    }

    .icon {
        font-size: 1.5em;
    }

    .icons {
        display: flex;
        gap: 5px;
        margin-bottom: 50px;
    }

    .footnotes {
        font-size: 0.75em;
        display: flex;
        justify-content: center;
    }
}